page-login {
    .no-padding {
        padding: 0;
    }
    .no-margin {
        margin: 0;
    }
    ion-content {
        background-color: color($colors,primary);
        background: $primary-background;
        background-size: 36px 36px, cover;
        background-position: 8px 8px, 0 0;
        .fixed-content {
            display: flex;
            justify-content: center;
        }
        .login-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 24px;
            max-width: 600px;
            ion-card {
                padding: 24px 96px 24px 96px;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                ion-card-header {
                    &.login-header {
                        max-width: 240px;
                        align-self: center;
                    }
                }
                ion-card-content {
                    .login-error {
                        color: color($colors,danger);
                        height: 48px;
                        margin-top: 8px;
                        overflow: hidden;
                        // white-space: nowrap;
                        // text-overflow: ellipsis;
                    }
                    .card-footer {
                        margin-top: 12px;
                    }
                }
            }

            .login-footer {
                display: none;
                padding: 24px 48px 0 48px;
            }
        }
    }
    ion-item.item-input {
        
        padding-left: 0;
        // This is required due to bug in Ionic causing the line to not show up underneath the input
        box-shadow: inset 0 -1px 0 0 #c8c7cc;
        &.item-ios {
            &.input-has-focus {
                box-shadow: inset 0 -1px 0 0 color($colors,primary);
            }
        }
    }

}

@include respond-to(small){
    page-login {
        ion-content {
            .login-container {
                ion-card {
                    padding: 0;
                    align-items: stretch;
                    ion-card-content {
                        min-width: 0;
                    }
                }
            }
        }
    }
}
