page-login {
    
    .medium-bg {
        background-color: color($colors,dark-gray);
    }
    .no-padding {
        padding: 0;
    }
    .no-margin {
        margin: 0;
    }
    ion-content {
        .fixed-content {
            display: flex;
            justify-content: center;
        }
        .login-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 24px;
            max-width: 375px;
            .login-footer {
                padding: 24px 48px 0 48px;
            }
        }
    }
    ion-item.item-input {
        
        padding-left: 0;
        // This is required due to bug in Ionic causing the line to not show up underneath the input
        box-shadow: inset 0 -1px 0 0 #c8c7cc;
        &.item-ios {
            &.input-has-focus {
                box-shadow: inset 0 -1px 0 0 color($colors,primary);
            }
        }
    }
    ion-card {
        &.deep-shadow {
            box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
        }
    }
    ion-card-header {
        &.login-header {
            background-color: color($colors,primary);
            color: white;
            font-size: 1.8em;
            line-height: 2em;
            font-weight: 200;
        }
    }
    ion-card-content {
        .login-error {
            color: color($colors,danger);
            height: 48px;
            margin-top: 8px;
            overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
        }
        .card-footer {
            margin-top: 12px;
        }
    }
}
