$icomoon-font-path: "../assets/fonts/emcb/fonts" !default;

$wd-icon-breaker-closed: \e900;
$wd-icon-breaker-fault: \e901;
$wd-icon-breaker-open: \e902;
$wd-icon-breaker-open-handle: \e903;
$wd-icon-breaker-open-scheduled: \e904;
$wd-icon-charging-plugged-3: \e905;
$wd-icon-charging-plugged-active: \e906;
$wd-icon-charging-plugged-fault: \e907;
$wd-icon-charging-unplugged-3: \e908;
$wd-icon-device-battery: \e909;
$wd-icon-device-evse: \e90a;
$wd-icon-device-hvac: \e90b;
$wd-icon-device-outlet: \e90c;
$wd-icon-device-outlet-inverse: \e90d;
$wd-icon-device-solar: \e90e;
$wd-icon-device-water-heater: \e90f;
$wd-icon-energy-backfeed: \e910;
$wd-icon-energy-forward: \e911;
$wd-icon-energy-reverse: \e912;
$wd-icon-etn-contact: \e913;
$wd-icon-etn-document: \e914;
$wd-icon-etn-email: \e915;
$wd-icon-etn-help: \e916;
$wd-icon-etn-phone: \e917;
$wd-icon-etn-video: \e918;
$wd-icon-waveform-capture: \e919;

