<!-- Generated template for the EtnEventTimelineComponent component -->
<div class="etn-event-timeline-container">
  <ul>
    <li *ngFor="let event of _events">
      <div class="etn-event-timeline-icon-container" [attr.eventType]="event.type">
        <ion-icon [name]="event.icon"></ion-icon>
      </div>
      <div class="etn-event-timeline-bubble-container">
        <div class="etn-event-timeline-title" [attr.eventType]="event.type">
          {{event.title}}
        </div>
        <div class="etn-event-timeline-subtitle">
          {{event.subTitle}}
        </div>
        <div class="etn-event-timeline-timestamp">
          {{event.timestamp | date:'medium'}}
        </div>
      </div>
    </li>
  </ul>
</div>
