page-devices {
    button.item {
        &.status-danger {
            .status-indicator {
                display: flex;
                background: $bg-danger;
            }
            h3 {
                color: color($colors,danger);
            }
        }
    }
    .status-indicator {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: color($colors,light-gray);
        background: $bg-gray;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        font-size: 20px;
        display: none;
    }
    ion-grid {
        .devices-list {
            // border: 1px solid color($colors,medium);
            // border-radius: 2px;
            border-color: color($colors,light);
            margin-top: 0;
            // max-width: 1000px;
            > .item {
                border-bottom: 1px solid color($colors,light);
                &:first-child {
                    border-top: 0;
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}

@include respond-to(small){
    page-devices {
        ion-grid {
            .devices-list {
                // border: inherit;
                // padding: 0;
                // margin: 5px -10px 32px -10px;
                ion-col {
                    padding: 0;
                }
            }
        }
    }
}