<ion-split-pane>

  <ion-menu [content]="content" class="main-menu">
    <ion-header>

      <div class="menu-container">
        <img class="menu-logo" src="../assets/imgs/etn_logo_color.png">
      </div>
    </ion-header>
    
    <ion-content>
      <etn-account-header [user]="user" (onLogout)="logout()"></etn-account-header>
      <ion-list>
        <button menuClose ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)" [ngClass]="{'active-page': isActive(p)}">
          <ion-icon name="{{p.icon}}" item-start></ion-icon>
          {{p.title}}
          <ion-badge class="active-faults-badge" item-end color="danger" *ngIf="p.title == 'Events' && numActiveFaultBreakers > 0">{{ numActiveFaultBreakers }}</ion-badge>
        </button>
        <button menuClose ion-item detail-none (click)="logout()">
          <ion-icon name="log-out" item-start></ion-icon>
          Sign Out
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>

</ion-split-pane>