// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-container {
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 120px;
    // background-image: url("../assets/imgs/blue_abstract_banner.jpg");
    // background-size: cover;
    // background-color: color($colors,primary);
    // color: color($colors,primary-contrast);
    color: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    // box-shadow: inset 0 -16px 16px -16px rgba(0,0,0,0.5);
    opacity: 0.25;
    transition: opacity 0.2s ease-in;
    &:hover {
        opacity: 1;
    }
    .account-avatar {
        height: 48px;
        width: 48px;
        background-color: color($colors,light-gray);
        border-radius: 50%;
        margin-bottom: 8px;
        background-size: cover;
        box-shadow: 0 2px 8px rgba(0,0,0,0.5);
        &.account-avatar-empty {
            // background-color: color($colors,med-gray);
            background: linear-gradient(color($colors,light-gray),color($colors,med-gray));
        }
    }
    .menu-contents {
        position: relative;
        display: flex;
        align-items: center;
        .account-info {
            flex: 1 0 auto;
        }
        .account-more-button {
            font-size: 18px;
        }
    }
}
.account-more-menu {
    background: none;
    box-shadow: none;
    .mat-menu-item {
        color: rgba(255,255,255,0.5);
    }
}
// &.minify {
//     .account-container {
//         min-height: 0;
//         height: 60px;
//         padding: 0;
//         align-items: center;
//         .account-avatar {
//             height: 40px;
//             width: 40px;
//             margin-bottom: 0;
//         }
//         .account-contents {
//             display: none;
//         }
//     }
// }

.split-pane-visible {
    .split-pane-side.main-menu {
        max-width: 275px;
        border-right: 0;
        ion-header {
            display: flex;
            justify-content: center;
            .menu-container {
                height: 56px;
                display: flex;
                align-items: center;
                .menu-logo {
                    max-height: 52px;
                }
            }
        }
        
        ion-list button {
            &.active-page {
                background-color: color($colors,primary);
                color: color($colors,primary-contrast);
            }
            &:hover {
                background-color: color($colors,light);
                &.active-page {
                    background-color: color($colors,primary);
                }
            }
        }
    }
    .split-pane-main {
        ion-content {
            box-shadow: inset 16px 0 16px -16px rgba(0,0,0,0.25) !important;
        }
        
    }
}

.main-menu {
    
    ion-header {
        display: none;// comment
    }
    .menu-fixed-content {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        .menu-resize-button {
            color: color($colors,light-gray);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            .button-inner {
                justify-content: center;
            }
        }
    }
    button {
        &.active-page {
            color: color($colors,primary);
        }
    }
    .item {
        color: color($colors,dark-gray);
        border-bottom: 1px solid color($colors,medium);
        .item-inner {
            border-bottom: 0;
        }
        &:first-child {
            border-top: 0;
        }
        &:last-child {
            border-bottom: 1px solid color($colors,medium);
        }
    }
}

.ion-page {
    > ion-content {
        background-color: color($colors,light);
    }
    ion-grid {
        max-width: 1000px;
        ion-row {
            ion-col {
                &.grid-header {
                    padding: 10px;
                    text-align: center;
                    font-size: 1.2em;
                    background-color: color($colors,medium);
                    color: color($colors,dark);
                }
                &.grid-sub-header {
                    padding: 10px 20px 0 20px;
                    color: color($colors,dark-gray);
                    font-size: 0.9em;
                }
                &.col-table-header {
                    font-weight: 600;
                }
            }
        }
    }
}
    

@include respond-to(small) {
    .split-pane-main {
        .ion-page {
            .content {
                .scroll-content {
                    padding: 8px 0 8px 0;
                }
            }
        }
    }
}

@include respond-to(medium) {
    .split-pane-visible {
        .split-pane-side.main-menu {
            max-width: 50px;
            min-width: 50px;
            ion-list {
                button {
                    padding: 0;
                    ion-icon {
                        padding: 0 0.5em;
                    }
                    ion-badge {
                        position: absolute;
                        top: 4px;
                        right: 4px;
                        font-size: 0.6em;
                        margin: 0;
                        padding: 0.3em;
                        min-height: 16px;
                        min-width: 16px;
                    }
                }
            }
        }
    }
}

@include respond-to(large) {
    .split-pane-visible {
        .split-pane-side.main-menu.minify-menu {
            max-width: 50px;
            min-width: 50px;
            ion-list {
                button {
                    padding: 0;
                    ion-icon {
                        padding: 0 0.5em;
                    }
                    ion-badge {
                        position: absolute;
                        top: 4px;
                        right: 4px;
                        font-size: 0.6em;
                        margin: 0;
                        padding: 0.3em;
                        min-height: 16px;
                        min-width: 16px;
                    }
                }
            }
            .menu-resize-button {
                .button-inner {
                    justify-content: center;
                }
            }
        }
    }
}

// Global override for overflow when not on iOS. Note: with overflow
// set to auto, bounce-back feature will not work.
ion-content:not(.content-ios){
// .platform-core {
    .scroll-content {
        overflow-y: auto;
    }
}

// Global override if you want to use Ionic Icon within material menu
.mat-menu-panel {
    .mat-menu-content {
        .mat-menu-item {
            ion-icon {
                vertical-align: middle;
                margin-right: 12px;
                font-size: 1.5em;
            }
        }
    }
}

$deep-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
$med-shadow: 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
$lite-shadow: 0 4px 15px 3px rgba(0, 0, 0, 0.12), 0 6px 8px -3px rgba(0, 0, 0, 0.4);
$hard-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
ion-card {
    &.main-card {
        ion-card-header {
            border-bottom: 1px solid color($colors,light);
            color: color($colors,primary);
            ion-item {
                color: color($colors,primary);
                // padding: 0;
            }
            &.header-with-item {
                padding: 3px;
            }
        }
    }
    &.hover-elevation {
        transition: all 0.3s;
        &:hover {
            cursor: pointer;
            box-shadow: $lite-shadow;
            transform: translateY(-4px);
        }
    }
    &.deep-shadow {
        box-shadow: $deep-shadow;
    }
    &.no-shadow {
        box-shadow: none;
    }
}

button[ion-button] {
    div.menu-icon-badge {
        background: color($colors,danger);
        border-radius: 10px;
        font-size: 0.5em;
        min-height: 8px;
        min-width: 8px;
        padding: 4px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        right: 8px;
        top: 5px;
    }
}

.platform-ios {
    button[ion-button] {
        div.menu-icon-badge {
            right: 4px;
            top: 4px;
        }
    }
}

ion-toast {
    &.toast-success {
        .toast-wrapper {
            background-color: color($colors, success);
        }
    }
    &.toast-error {
        .toast-wrapper {
            background-color: color($colors, danger);
        }
    }
}
