etn-simple-indicator {
    display: inline-block;
    padding: 10px;
    .etn-simple-indicator-container {
        height: 100%;
        width: 100%;
        min-width: 80px;
        background-color: color($colors,primary);
        color: color($colors,primary-contrast);
        border-radius: 2px;
        text-align: center;
        display: inline-block;
        &.etn-simple-indicator-alarm {
            background-color: color($colors,danger);
        }
        .etn-simple-indicator-label {
            background-color: rgba(255,255,255,0.1);
            padding: 10px;
            font-size: 0.8em;
        }
        .etn-simple-indicator-value {
            padding: 10px 10px 0 10px;
            font-size: 1.5em;
            font-weight: bold;
        }
        .etn-simple-indicator-unit {
            padding: 0 10px 10px 10px;
            font-size: 0.8em;
        }
    }
}
