<!-- Generated template for the EtnAccountHeaderComponent component -->
<div class="account-container">
  <div *ngIf="user && user.photoURL;else empty_avatar" class="account-avatar" [ngStyle]="{'background-image': 'url('+user.photoURL+')'}">
    <!-- <img *ngIf="user && user.photoURL" src="{{user.photoURL}}"> -->
  </div>
  <ng-template #empty_avatar>
    <div class="account-avatar account-avatar-empty"></div>
  </ng-template>
  <div class="account-contents">
    <div class="account-info">
      <div *ngIf="user && user.displayName" class="account-name">{{user.displayName}}</div>
      <div *ngIf="user && user.email" class="account-email">{{user.email}}</div>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="account-more-button">
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="account-more-menu">
      <button mat-menu-item>
        <ion-icon name="contact" item-start></ion-icon>
        <span>Account Settings</span>
      </button>
      <button mat-menu-item (click)="logoutClicked()">
        <ion-icon name="log-out" item-start></ion-icon>
        <span>Sign Out</span>
      </button>
    </mat-menu>
  </div>
</div>
