<!-- Generated template for the EtnAccountHeaderComponent component -->
<div class="account-container">
  <div class="account-avatar">

  </div>
  <div class="account-contents">
    <div class="account-name">Brandon Rogers</div>
    <div class="account-email">brandonrogers@eaton.com</div>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="account-more-button">
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before">
      <button mat-menu-item>Account Settings</button>
      <button mat-menu-item>Sign Out</button>
    </mat-menu>
  </div>
</div>
