wd-breaker-icon {
    display: block;
    width: max-content;
    height: max-content;
    position: relative;
    .wd-breaker-icon-container {
        background-color: color($colors,primary);
        color: color($colors,primary-contrast);
        padding: 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0.9;
        font-size: 1.2em;
        &.wd-breaker-icon-fault {
            background-color: color($breakers,fault);
        }
        &.wd-breaker-icon-open {
            background-color: color($breakers,open);
        }
    }
}
