$wd-event-timeline-line-color: color($colors,medium);
$wd-event-timeline-icon-color: color($colors,med-gray);
$wd-event-timeline-icon-warning-color: color($colors,warning);
$wd-event-timeline-icon-danger-color: color($colors,danger);
$wd-event-timeline-icon-success-color: color($colors,success);
$wd-event-timeline-warning-color: darken(color($colors,warning),10%);
$wd-event-timeline-danger-color: darken(color($colors,danger),10%);
$wd-event-timeline-success-color: color($colors,success);
$wd-event-timeline-bubble-color: color($colors,light);
$wd-event-timeline-subtitle-color: color($colors,dark);
$wd-event-timeline-timestamp-color: color($colors,dark-gray);

wd-event-timeline {
    margin: 10px;
    ul {
        position: relative;
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-left: 2px solid $wd-event-timeline-line-color;
        margin-left: 18px;
        padding: 10px 0 10px 10px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: -6px;
            top: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $wd-event-timeline-line-color;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: -9px;
            bottom: -1px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid $wd-event-timeline-line-color;
        }
        li {
            margin: 10px 0;
            position: relative;
            display: flex;
            flex-direction: row;
            .wd-event-timeline-icon-container {
                position: relative;
                margin-right: -29px;
                left: -29px;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: $wd-event-timeline-icon-color;
                color: white;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3em;
                padding: 1px 0 0 1px;
                &[eventType="warning"] {
                    background-color: $wd-event-timeline-icon-warning-color;
                }
                &[eventType="danger"] {
                    background-color: $wd-event-timeline-icon-danger-color;
                }
                &[eventType="success"] {
                    background-color: $wd-event-timeline-icon-success-color;
                }
            }
            .wd-event-timeline-bubble-container {
                position: relative;
                display: inline-block;
                vertical-align: top;
                flex: 1 0 auto;
                margin-left: 15px;
                min-width: 100px;
                min-height: 20px;
                background-color: $wd-event-timeline-bubble-color;
                border-radius: 2px;
                padding: 4px 8px;
                font-size: 0.8em;
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 12px;
                    left: -9px;
                    width: 0;
                    height: 0;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-right: 10px solid $wd-event-timeline-bubble-color;
                }
                .wd-event-timeline-title {
                    font-weight: 600;
                    &[eventType="warning"] {
                        color: $wd-event-timeline-warning-color;
                    }
                    &[eventType="danger"] {
                        color: $wd-event-timeline-danger-color;
                    }
                    &[eventType="success"] {
                        color: $wd-event-timeline-success-color;
                    }
                }
                .wd-event-timeline-subtitle {
                    color: $wd-event-timeline-subtitle-color;
                }
                .wd-event-timeline-timestamp {
                    color: $wd-event-timeline-timestamp-color;
                }
            }
        }
    }
}
