page-signup {
    > ion-content.signup-content {
        background-color: white;
    }
    .register-container {
        display: flex;
        width: 100%;
        height: 100%;
        .register-header {
            flex: 1;
            background-color: color($colors,primary);
            background: $primary-background;
            background-size: 36px 36px, cover;
            background-position: 8px 8px, 0 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .logo-container {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .logo {
                    width: 50%;
                    height: auto;
                    min-width: 180px;
                    max-width: 240px;
                }
            }
            .spacer {
                flex: 1;
            }
            .cybersecurity {
                padding: 24px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .register-terms {
                text-align: center;
                color: white;
                max-width: 300px;
                font-size: 0.8em;
                align-self: center;
                padding: 24px;
                a {
                    color: white;
                }
            }
        }
        .register-form {
            box-sizing: border-box;
            padding: 24px;
            flex: 1;
            display: flex;
            flex-direction: column;
            h1 {
                margin-left: 24px;
                text-transform: uppercase;
                color: color($colors,primary);
            }
            .register-stepper {
                flex: 1;
                display: flex;
                flex-direction: column;
                .mat-horizontal-content-container {
                    flex: 1 0;
                    position: relative;
                    .mat-horizontal-stepper-content {
                        position: absolute;
                        top: 0;
                        bottom: 24px;
                        left: 24px;
                        right: 24px;
                        display: flex;
                        flex-direction: column;
                        form {
                            display: flex;
                            flex-direction: column;
                            flex: 1 0;
                        }
                        .step-contents {
                            flex: 1 0;
                            .step-instructions {
                                color: color($colors,med-gray);
                                font-style: italic;
                                margin-top: 12px;
                            }
                            ion-item {
                                ion-icon {
                                    align-self: flex-end;
                                    margin-bottom: 0;
                                    color: color($colors,med-gray);
                                }
                                &.item-input-has-focus {
                                    ion-icon {
                                        color: color($colors,primary);
                                    }
                                }
                            }
                            .summary-item {
                                height: 50px;
                                padding: 5px;
                                display: flex;
                                align-items: center;
                                .summary-label {
                                    display: inline-block;
                                    font-weight: 800;
                                    min-width: 100px;
                                }
                                .summary-value {
                                    img {
                                        height: 40px;
                                        width: 40px;
                                        background-color: color($colors,light-gray);
                                        border-radius: 50%;
                                        margin-bottom: 8px;
                                        background-size: cover;
                                    }
                                    #profileImagePreview {
                                        height: 40px;
                                        width: 40px;
                                        background-color: color($colors,light-gray);
                                        border-radius: 50%;
                                        // margin-right: 20px;
                                        background-size: cover;
                                        vertical-align: middle;
                                    }
                                }
                            }

                        }
                    }
                }
                .step-buttons {
                    display: flex;
                    .spacer {
                        flex: 1 0;
                    }
                }
            }
        }
    }
}

@include respond-to(small){
    page-signup {
        .register-container {
            .register-header {
                display: none;
            }
            .register-form {
                padding: 12px;
                max-width: 100%;
                h1 {
                    font-size: 6vw;
                }
                mat-horizontal-stepper {
                    .mat-horizontal-stepper-header-container {
                        display: none;
                    }
                }
            }
        }
    }
}